[user]
	email = brunogsa.92@gmail.com
	name = Bruno G. Salomao Agostini
[core]
	editor = nvim
	excludesfile = ~/.gitignore-global
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
